# Second Assignment Part 1: Data selection

In this google colab document, we perform data selection, so as to keep the necessary columns to achivieve the objectives specified in the project documentation. This data selection will be checked in the part 2 of this second assignment related to profiling. Thus, we will use profiling to guarantee that the data selection performed in this document is correct. The authors of this project are:

The authors of the colab are:

<table>
  <thead>
    <th>Name</th>
    <th>Github</th>
    <th>E-Mail</th>
  </thead>
  <tbody>
    <tr>
      <td>Raúl Barba Rojas</td>
      <td><a href="https://github.com/RaulBarbaRojas">RaulBarbaRojas</a></td>
      <td><a href="mailto:Raul.Barba@alu.uclm.es">Raul.Barba@alu.uclm.es</a></td>
    </tr>
    <tr>
      <td>Diego Guerrero Del Pozo</td>
      <td><a href="https://github.com/DiegoGDP">DiegoGDP</a></td>
      <td><a href="mailto:Diego.Guerrero@alu.uclm.es">Diego.Guerrero@alu.uclm.es</a></td>
    </tr>
    <tr>
      <td>Maja Anna Swierk</td>
      <td><a href="https://github.com/manna8">Manna8</a></td>
      <td><a href="mailto:MajaAnna.Swierk@alu.uclm.es">MajaAnna.Swierk@alu.uclm.es</a></td>
    </tr>
    <tr>
      <td>Jakub Konieczny</td>
      <td><a href="https://github.com/KubaKonieczny">KubaKonieczny</a></td>
      <td><a href="mailto:Jakub.Konieczny@alu.uclm.es">Jakub.Konieczny@alu.uclm.es</a></td>
    </tr>
  </tbody>
</table>

# 1. Introduction

In this colab file, we apply data selection on the different datasets, in order to keep only the necessary information to achieve our objectives.

## 1.1. Recalling project objectives and hypothesis definition

First of all, before performing the data selection, we must define (in fact, we must only recall, because the objectives were alredy defined in the first deliverable of the project) the objectives of the project itself. In our case, the objectives/hypothesis are the following ones:

1. Seasonality of watermelons: our hypothesis is that watermelons experience the phenomena of seasonality, thus being sold more in certain months of the year.
2. Covid-19 affects the seasonality of watermelons: the second hypothesis that we will study is related to the effects of covid-19 on the seasonality of watermelons. We consider that it probably affected their seasonality, thus the hypothesis can be started as follows: due to covid-19, the seasonality of watermelons changed (meaning that, if previously we conclude, after a study, that they have seasonality, here the hypothesis would be that due to covid-19, there is no seasonality of watermelons in 2020).

3. Optimal product prediction: the last objective of this project is to determine which will be the optimal product, to obtain the highest benefits, in a specific month and year.

Once we already recalled the objectives of the project, we must perform the data selection step of the KDD process. The main goal is to only keep the data that we really need for the objectives, removing any unnecessary data (that could generate noise).

## 1.2. Data selection decisions

First of all, we have to decide which datasets we will be using to achieve the objectives. We were initially given 5 datasets (6 if we count datasets 3a and 3b separately), thus we have to decide which of them should be used and which ones should not be used, based on whether they are useful or not for the objectives that were mentioned previously.

We strongly believe that, in order to achieve those objectives, we essentially need the dataset 1 (fruits and vegetables' consumption in Spain). However, this dataset by itself is not enough to achieve the objectives, as it must be enriched with some data related to covid, so as to be able to determine whether the pandemic affected or not the seasonality of the product.

Thus, we will use:

- Dataset 1: as the main dataset for solving the objectives.
- Dataset 5: as an enrichment dataset, to calculate some data (because the data we really want is not originally in such dataset) to be aggregated to the dataset 1, in order to solve the objective related to covid and its effect on seasonality.

## 1.3. Loading the datasets

In this project, we use the datasets obtained with the architecture built on the **MultiAgent Systems course**, for this reason, we need to first load these datasets to the google colab environment. Files must follow these rules:

1. The consumption dataset must be named 'dataset1.txt'.
2. The covid dataset must be named 'dataset5.txt'.
3. Both datasets must be loaded in the /content/ directory.

### 1.3.1. Loading the dataset 1: Fruits and vegetables' consumption in Spain

We must remember that this dataset is the one that contained general information regarding food consumption in different regions in Spain.

In [ ]:
import pandas as pd


dataset_1 = pd.read_csv('/content/dataset1.txt')
dataset_1.head(10)

,Año,Mes,CCAA,Producto,CONSUMO X CAPITA,GASTO X CAPITA,PENETRACION (%),PRECIO MEDIO kg ó litros,VALOR (Miles Euros),VOLUMEN (Miles kg ó litros)
0,2018,Enero,Total Nacional,TOTAL PATATAS,2.38,1.85,79.39,0.78,84640.08,108430.72
1,2018,Enero,Total Nacional,PATATAS FRESCAS,1.74,1.20,68.46,0.69,54688.29,79445.66
2,2018,Enero,Total Nacional,PATATAS CONGELADAS,0.09,0.11,12.06,1.21,4857.79,3999.90
3,2018,Enero,Total Nacional,PATATAS PROCESADAS,0.11,0.55,45.94,5.02,25094.00,4997.03
4,2018,Enero,Total Nacional,PATATAS FRITAS,NaN,NaN,0.00,NaN,0.00,0.00
5,2018,Enero,Total Nacional,T.HORTALIZAS FRESCAS,4.60,8.25,97.27,1.79,376688.56,209957.24
6,2018,Enero,Total Nacional,TOMATES,0.88,1.48,77.90,1.69,67517.73,39934.35
7,2018,Enero,Total Nacional,CEBOLLAS,0.57,0.58,69.77,1.01,26254.86,25922.07
8,2018,Enero,Total Nacional,AJOS,0.06,0.24,34.75,4.17,10736.54,2572.64
9,2018,Enero,Total Nacional,COLES,0.15,0.17,23.93,1.08,7624.86,7041.12

1.3.2. Loading the dataset 5: Coronavirus cases

The dataset 5 is the dataset associated to the coronavirus cases. After uploading the file containing this dataset to the execution environment, we can create a dataframe to manage this dataset. The dataframe must use as index column the combination of 'dateRep' and 'countriesAndTerritories'. This is because what makes every data record unique is the country and the day of the cases, not only the cases nor the dates.

In [ ]:
covid_dataset = pd.read_csv('/content/dataset5.txt')
covid_dataset.head(10)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-12-14,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,2020-12-13,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,2020-12-12,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,2020-12-11,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,2020-12-10,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658
5,2020-12-09,9,12,2020,135,13,Afghanistan,AF,AFG,38041757.0,Asia,6.963401
6,2020-12-08,8,12,2020,200,6,Afghanistan,AF,AFG,38041757.0,Asia,7.094835
7,2020-12-07,7,12,2020,210,26,Afghanistan,AF,AFG,38041757.0,Asia,7.215755
8,2020-12-06,6,12,2020,234,10,Afghanistan,AF,AFG,38041757.0,Asia,7.326160
9,2020-12-05,5,12,2020,235,18,Afghanistan,AF,AFG,38041757.0,Asia,7.115865

# 2. Data selection

For realisation of our objectives we will need only 2 datasets:
- Dataset 1: F&V consumption in Spain
- Dataset 5: Covid cases in 2020

Our objectives require datasets, that refer to data from all over Spain. That is the reason for choosing dataset 1 - it contains consumption data from Spain with different products, their consumption and prices. The other datasets present data only from parts of Spain, or data are not related to our objectives, for example import and export.
To perform calculations connected to covid, we obviously need dataset storing this kind of data - that is why we have chosen dataset 5.

In the following subsections, we discuss which columns (features) we really need from each dataset in order to achieve our objectives. The idea is to keep only the data that we need, so that the algorithms run faster and provide better results.

## 2.1. Data selection for dataset 1

Form that dataset we will exclude certain columns, because they are not useful for pur purposes. The columns that we are not keeping are the following ones:
- "Volumen (miles de kg)": this column describes the amount (in thousands of kg) that were sold for a given product (given the month and the year). However, for our purposes, we strongly believe that it will not be useful (we would need a feature that describes how optimal a product is based not only in amount or only in price, but based on the expense per person in the product).
- "Valor (miles de €)": it is a column that is associated to the previous one. It describes the amount of money (in thousands of euros) that the volume of the product costed. Again, we remove it for the same reason as before. 
- "Consumo x capita": the main reason why the column is deleted is because it does not give valuable information regarding how optimal a product is. In the end, a product could have a really high consumption per capita, but such a low price that it could be a not so optimal product (for us to plant and sell). Thus, the column is not valuable for our purposes and it should be deleted.

In [ ]:
dataset_1.drop(columns=['VOLUMEN (Miles kg ó litros)', 'VALOR (Miles Euros)', 'CONSUMO X CAPITA'], inplace = True)

Moreover, we must consider that the column "PENETRACION (%)" is only useful for some of our purposes, but not for all of them (in the data preprocessing we deal with this column with more detail, for now it is simply included).

We will also delete each row that contains value "Total Nacional" in column CCAA, because these is simply an aggregation of the different values of each region. As a result, it is not "new data", but simply data that we already have. Thus, for our purposes we will perform all the operations based on the real data.

In [ ]:
dataset_1 = dataset_1[dataset_1['CCAA'] != "Total Nacional"]
dataset_1

,Año,Mes,CCAA,Producto,GASTO X CAPITA,PENETRACION (%),PRECIO MEDIO kg ó litros
51,2018,Enero,Cataluña,TOTAL PATATAS,2.32,86.85,0.82
52,2018,Enero,Cataluña,PATATAS FRESCAS,1.49,79.47,0.72
53,2018,Enero,Cataluña,PATATAS CONGELADAS,0.12,11.86,1.32
54,2018,Enero,Cataluña,PATATAS PROCESADAS,0.71,54.73,5.30
55,2018,Enero,Cataluña,PATATAS FRITAS,NaN,0.00,NaN
...,...,...,...,...,...,...,...
33043,2020,Diciembre,Canarias,OTRAS FRUTAS FRESCAS,1.70,52.01,2.17
33044,2020,Diciembre,Canarias,POMELO,0.14,4.14,3.08
33045,2020,Diciembre,Canarias,CHIRIMOYA,0.00,0.00,NaN
33046,2020,Diciembre,Canarias,MANGO,0.13,4.73,4.54
33047,2020,Diciembre,Canarias,FRUTAS IV GAMA,0.52,23.51,1.86

Also for similar reason we exclude rows that in column "Producto" that have name that indicates this row may contain sum of other values. Those names are: "TOTAL PATATAS", "T.HORTALIZAS FRESCAS", "OTR.HORTALIZAS/VERD", "VERD./HORT. IV GAMA", "T.FRUTAS FRESCAS", "VERDURAS DE HOJA", "FRUTAS IV GAMA". It gives us assurance that none of the products is counted twice which could lead to false conclusions. Next thing is that one of our objectives is to predict which product to chose and predicting for example frutas IV gama would be too general.

In [ ]:
rows_with_values_to_delete = ["TOTAL PATATAS", "T.HORTALIZAS FRESCAS", "OTR.HORTALIZAS/VERD.", "VERD./HORT. IV GAMA", "T.FRUTAS FRESCAS", "VERDURAS DE HOJA", "FRUTAS IV GAMA"]
dataset_1 = dataset_1[~dataset_1['Producto'].isin(rows_with_values_to_delete)]

In [ ]:
dataset_1.sample(10)

,Año,Mes,CCAA,Producto,GASTO X CAPITA,PENETRACION (%),PRECIO MEDIO kg ó litros
18626,2019,Septiembre,Murcia,JUDIAS VERDES,0.32,34.35,4.16
7118,2018,Agosto,Cantabria,MANDARINAS,0.05,6.72,2.56
7275,2018,Agosto,Navarra,PERAS,0.72,36.90,1.36
17424,2019,Julio,Canarias,PERAS,0.53,43.51,1.62
31563,2020,Noviembre,Andalucia,PIÑA,0.21,17.33,1.41
29490,2020,Septiembre,Aragon,PIMIENTOS,2.14,49.67,2.59
16834,2019,Julio,Andalucia,PATATAS FRITAS,0.71,55.67,5.94
10078,2018,Noviembre,Canarias,PLATANOS,1.51,73.74,1.36
9551,2018,Noviembre,Madrid,LECHUGA/ESC./ENDIVIA,0.63,53.58,3.14
5040,2018,Junio,Castilla La Mancha,UVAS,0.06,4.85,3.33

## 2.2. Data selection for dataset 5

Now we will delete some columns, that are not useful for achieving our objective:
- We can safely delete 'countryterritoryCode' and 'geoId' columns, because we have another column for identifying the territory associated to the measurement in the column called countriesAndTerritories.
- The 'continentExp' column is not useful, because for our calculations name of the continent will not be needed.
- Since we will perform calculations in given month of the given year, the column 'day' is only needed for the shake of aggregating (grouping) the data with which we will enrich the dataset 1.

In [ ]:
covid_dataset.drop(columns=['continentExp', 'countryterritoryCode', 'geoId', 'day'], inplace=True)
covid_dataset

,dateRep,month,year,cases,deaths,countriesAndTerritories,popData2019,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-12-14,12,2020,746,6,Afghanistan,38041757.0,9.013779
1,2020-12-13,12,2020,298,9,Afghanistan,38041757.0,7.052776
2,2020-12-12,12,2020,113,11,Afghanistan,38041757.0,6.868768
3,2020-12-11,12,2020,63,10,Afghanistan,38041757.0,7.134266
4,2020-12-10,12,2020,202,16,Afghanistan,38041757.0,6.968658
...,...,...,...,...,...,...,...,...
61895,2020-03-25,3,2020,0,0,Zimbabwe,14645473.0,NaN
61896,2020-03-24,3,2020,0,1,Zimbabwe,14645473.0,NaN
61897,2020-03-23,3,2020,0,0,Zimbabwe,14645473.0,NaN
61898,2020-03-22,3,2020,1,0,Zimbabwe,14645473.0,NaN
61899,2020-03-21,3,2020,1,0,Zimbabwe,14645473.0,NaN

Later on we can consider deleting 'dateRep' and 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000' columns.\
 We do not need daterep, because we already have day, month and year columns sufficient. \
When it comes to 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000' column, we can perform calculations in order to get the same values as there are in that column. We can delete this column, because the data we will use to enrich the dataset 1 will be ontained through other columns such as deaths, cases and popData2019, and, as mentioned before, we can always calculate this column if we need it anyways (but we will not be using it). 

As a result, the dataset after dataselection can be this one:

In [ ]:
covid_dataset.drop(columns=['dateRep', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'], inplace=True)
covid_dataset

       month  year  cases  deaths countriesAndTerritories  popData2019
0         12  2020    746       6             Afghanistan   38041757.0
1         12  2020    298       9             Afghanistan   38041757.0
2         12  2020    113      11             Afghanistan   38041757.0
3         12  2020     63      10             Afghanistan   38041757.0
4         12  2020    202      16             Afghanistan   38041757.0
...      ...   ...    ...     ...                     ...          ...
61895      3  2020      0       0                Zimbabwe   14645473.0
61896      3  2020      0       1                Zimbabwe   14645473.0
61897      3  2020      0       0                Zimbabwe   14645473.0
61898      3  2020      1       0                Zimbabwe   14645473.0
61899      3  2020      1       0                Zimbabwe   14645473.0

[61900 rows x 6 columns]